.normal {
  display: flex;
  background: hotpink;
  color: white;
  border: 2px solid hotpink;
  margin: 1em 2em;
  padding: 1em 2em;
  font-size: 120%;
  width: 250px;
  cursor: pointer;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 16px;
  height: 16px;
  position: relative;
}

.normal:hover .icon {
  animation: bounce 0.2s ease-in-out alternate infinite;
}
@keyframes bounce {
  from {
    left: 0;
  }
  to {
    left: 10px;
  }
}

.outline {
  border-color: hotpink;
  background-color: transparent;
  color: hotpink;
}

.normal[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
