@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Open Sans", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em;
}
