@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: "Open Sans", sans-serif;
}

main {
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 620px;
}

.highscores {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 400px;
}
