.employee {
  background: white;
  flex: 0 0 300px;
  border-radius: 1em;
  padding: 1em 1.5em;
  box-shadow: 4px 4px 2px rgba(0 0 0 / 0.2);
}
.employee__name {
  margin: 0 0 0.5em;
  font-size: 24px;
}
.employee__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  color: #222;
}
