@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");

html,
body {
  background: linear-gradient(
    120deg,
    #0011a9,
    #49039d,
    #630092,
    #750087,
    #82067d,
    #8a1675,
    #90256d,
    #943268
  );
  background-size: 100vw 100vh;
  margin: 0;
  font-family: Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.title {
  text-transform: uppercase;
  color: white;
  font-size: 40px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.timer {
  color: white;
  background: rgba(255 255 255 / 0.1);
  border-radius: 16px;
  width: 430px;
  padding: 10px 30px 20px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.timer-ringing {
  animation: ringing 0.5s infinite;
}
@keyframes ringing {
  0%,
  50% {
    background: rgba(255 255 255 / 0.2);
  }
  51%,
  100% {
    background: rgba(255 255 255 / 0.1);
  }
}
.timer-new {
  align-self: stretch;
}
.parts {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.part {
  display: flex;
  flex-direction: column;
}
.timer-new .parts {
  gap: 5px;
  margin: -2px -5px;
}
input.number {
  border: 3px solid rgba(255 255 255 / 0.3);
  border-radius: 8px;
  color: white;
  background: transparent;
  text-align: center;
  width: 83px;
  padding: 0 4px 8px;
  margin: 0 -4px -10px;
}
input.number:focus {
  outline: none;
  border-color: white;
}
.number,
.colon {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
  text-shadow: 3px 3px 3px rgba(0 0 0 / 0.3);
  font-family: "Fira Sans", sans-serif;
  font-variant-numeric: tabular-nums;
}
.colon {
  margin-top: -0.07em;
  margin-right: 0.05em;
}
.timer-ticking .colon {
  animation: blink 1s infinite;
}
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
.unit {
  margin: -1.2em 0 0;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
}
.toggle {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 3px 3px 3px rgba(0 0 0 / 0.3);
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.toggle:disabled {
  opacity: 0.3;
  pointer-events: none;
}
.toggle:hover {
  background-color: rgba(255 255 255 / 0.3);
}
.timer-add {
  cursor: pointer;
  font-size: 80px;
  padding: 11px 0;
  color: rgba(255 255 255 / 0.5);
  border: 0;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}
.timer-add:hover {
  color: white;
  background: rgba(255 255 255 / 0.2);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
